node-red/.flows.json.backup
[{"id":"d3f887b5a15f679b","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"ae01f1fd1ba74bb1","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"d8c5b260e06c7184","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"46d40190.364b","type":"server","name":"Home Assistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"},{"id":"b5ad9b26a67a6dbc","type":"remote-config","name":"remote ha node red","host":"192.168.1.88","protocol":"http","port":"1888","baseurl":"#flow/d3f887b5a15f679b","instancehash":"ha6y8bal8l3o0njm4xqhy9z9ua1u8pa9qokj7s90jhyz1fp14gslr7lixfxg0sag","server":"nodered03.remote-red.com","region":"us"},{"id":"4e7cdee38adef5aa","type":"inject","z":"d3f887b5a15f679b","name":"light timer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"50 17 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":250,"y":220,"wires":[["a3d99a16755a3551","7c293bcd7531a076"]]},{"id":"a3d99a16755a3551","type":"api-call-service","z":"d3f887b5a15f679b","name":"Floor Lamp","server":"46d40190.364b","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":["8d27f010c100af2f0f1096b2aa6d8280"],"entityId":["light.floor_lamp"],"data":"{\"hs_color\":[0, 0],\"rgb_color\":[255, 255, 255],\"brightness\":50}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":240,"wires":[[]]},{"id":"8cd1dda3a2201b1d","type":"comment","z":"d3f887b5a15f679b","name":"simple light timer","info":"","x":200,"y":180,"wires":[]},{"id":"78a2f5bf4a62c441","type":"remote-access","z":"d3f887b5a15f679b","confignode":"b5ad9b26a67a6dbc","name":"remote access","verbose":0,"x":260,"y":60,"wires":[[]]},{"id":"7c293bcd7531a076","type":"api-call-service","z":"d3f887b5a15f679b","name":"Mirror","server":"46d40190.364b","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":["10ba8806aee00cf371e1673e36de11eb"],"entityId":["light.mirror"],"data":"{\"rgb_color\":[255,136,13],\"brightness\":125}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":320,"wires":[[]]},{"id":"31c776fd02c18f46","type":"api-current-state","z":"d3f887b5a15f679b","name":"","server":"46d40190.364b","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.floor_lamp","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":450,"y":460,"wires":[["4e6d0afc510afbf4"]]},{"id":"c30ed5d3ccdb956a","type":"inject","z":"d3f887b5a15f679b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":480,"wires":[["31c776fd02c18f46"]]},{"id":"4e6d0afc510afbf4","type":"debug","z":"d3f887b5a15f679b","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":460,"wires":[]},{"id":"f2a87cf5ba6cb5b9","type":"remote-access","z":"ae01f1fd1ba74bb1","confignode":"b5ad9b26a67a6dbc","name":"remote access","verbose":0,"x":180,"y":120,"wires":[[]]},{"id":"fd6691f6c2835ee9","type":"inject","z":"ae01f1fd1ba74bb1","name":"Lights on","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":120,"y":240,"wires":[["042b3e646b4d411c"]]},{"id":"042b3e646b4d411c","type":"api-call-service","z":"ae01f1fd1ba74bb1","name":"hue2_white","server":"46d40190.364b","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.hue2_white"],"data":"{\"rgbw_color\":[255,100,100,50],\"rgbww_color\":[255,100,100,50,70],\"brightness\":[5],\"xy_color\":[0.52,0.43],\"profile\":\"relax\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":350,"y":280,"wires":[[]]},{"id":"8ce7283e76b33d17","type":"change","z":"d8c5b260e06c7184","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.attributes","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":260,"wires":[["3ee6e7421a9584c9"]]},{"id":"2bccff3f414199dd","type":"inject","z":"d8c5b260e06c7184","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":260,"wires":[["d8850fdb5f4a03a6"]]},{"id":"d8850fdb5f4a03a6","type":"api-current-state","z":"d8c5b260e06c7184","name":"","server":"46d40190.364b","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"weather.ecobee_ha","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":500,"y":280,"wires":[["8ce7283e76b33d17"]]},{"id":"3ee6e7421a9584c9","type":"debug","z":"d8c5b260e06c7184","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1040,"y":240,"wires":[]},{"id":"c37d05a6a6734c05","type":"api-current-state","z":"d8c5b260e06c7184","name":"Ecobee Cooling","server":"46d40190.364b","version":3,"outputs":2,"halt_if":"cooling","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.hvac_ecobee_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":400,"y":400,"wires":[["c0e39e25322ad283"],[]]},{"id":"c0e39e25322ad283","type":"api-call-service","z":"d8c5b260e06c7184","name":"huego1","server":"46d40190.364b","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.hue_go_1"],"data":"{\"rgbw_color\":[255,100,100,50],\"rgbww_color\":[255,100,100,50,70],\"hs_color\":[300,70],\"xy_color\":[0.52,0.43],\"profile\":\"relax\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":400,"wires":[[]]},{"id":"eba0fb266129f45d","type":"inject","z":"d8c5b260e06c7184","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"on","payload":"","payloadType":"date","x":190,"y":400,"wires":[["c37d05a6a6734c05"]]}]